<html>
<head>
</head>
<body ng-app="app">
  <div ng-controller="VendorController" class="container">
    <div ng-show="!vendor" class="alert alert-danger text-center" style="margin-top:15px">
      {{error}}
    </div>
    <div ng-show="!!vendor">
      <h1>{{vendor.name}}</h1>
      <table class="table" style="">
        <tr ng-repeat="product in vendor.products">
          <td>{{product.name}}</td>
          <td>{{product.price}} {{vendor.currency}}</td>
          <td><input type="number" min="0" ng-model="product.quantity" class="form-control"></td>
        </tr>
        <tr>
          <td></td><td></td><td>{{totals.vendor_currency | number:6}} {{vendor.currency}}</td>
        </tr>
        <tr>
          <td></td><td></td><td>{{totals.btc | number:6}} BTC</td>
        </tr>
        <tr>
          <td colspan="2">
            Message
            <p class="text-muted">We will automatically encrypt this</p>
          </td>
          <td>
            <textarea class="form-control" model="message"></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td><button class="btn btn-primary" ng-click="checkout()">Submit</button></td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>