<html>
<head>
  <script src="components/lodash/lodash.min.js"></script>
  <script src="components/angular/angular.min.js"></script>
  <script src="components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="components/angular-bootstrap-show-errors/src/showErrors.min.js"></script>
  <script src="components/xml2json/xml2json.js"></script>
  <script src="components/validate/validate.min.js"></script>
  <script src="components/openpgp/dist/openpgp.min.js"></script>
  <script src="components/bip32.github.io/js/jquery.js"></script>
  <script src="components/bip32.github.io/js/bitcoinjs-min.js"></script>
  <script src="components/bip32.github.io/js/modsqrt.js"></script>
  <script src="components/bip32.github.io/js/sha256.js"></script>
  <script src="components/bip32.github.io/js/sha512.js"></script>
  <script src="components/bip32.github.io/js/bip32.js"></script>
  <script src="components/bip39/src/js/wordlist_english.js"></script>
  <script src="components/bip39/src/js/wordlist_english.js"></script>
  <script src="components/bip39/src/js/jsbip39.js"></script>
  <script src="app/app.js"></script>
  <script src="app/storage.js"></script>
  <script src="app/rates.js"></script>
  <script src="app/convert.js"></script>
  <script src="app/blockchain.js"></script>
  <script src="app/Vendor.js"></script>
  <script src="app/Receipt.js"></script>
  <script src="app/AppController.js"></script>
  <script src="app/SettingsController.js"></script>
  <script src="app/VendorController.js"></script>
  <script src="app/ReceiptController.js"></script>
  <script src="app/ManifestController.js"></script>
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css"></script>
  <style>
    /* Forms */
    form .ng-invalid {
      border-color: red !important;
      outline-color: red;
    }
    form .ng-valid {
      border-color: green !important;
      outline-color: green;
    }
  </style>
</head>
<body ng-app="app">
  <div ng-controller="AppController">
    <nav class="navbar navbar-inverse navbar-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-6"></div>
          <div class="col-xs-6">
            <select ng-model="page" class="form-control">
              <option value="settings">Settings</option>
              <option value="manifest">Manifest</option>
            </select>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div ng-if="page==='settings'" ng-include="'settings.html'"></div>
    </div>
  </div>
</body>
</html>