<div ng-controller="AppController">
  <nav class="navbar navbar-inverse navbar-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-5">
          <a class="navbar-brand" href="https://safemarket.github.io" target="_blank">SafeMarket {{version}}</a>
        </div>
        <div class="col-xs-1" style="text-align:right"><img src="img/spinner.gif" style="margin-top:7px" ng-cloak ng-if="isLoading"></div>
        <div class="col-xs-6">
          <select ng-model="page" class="form-control" style="margin-top:6px">
            <option value="home">Home</option>
            <option value="settings">Settings</option>
            <option value="marketplace">Marketplace</option>
            <option value="vendor">Storefront</option>
            <option value="order">Order</option>
            <option value="products">Vendor - Products</option>
            <option value="publish">Vendor - Publish</option>
            <option value="register">Vendor - Register</option>
          </select>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="alert alert-warning text-center" ng-cloak ng-if="version!==latestVersion">
      Version {{latestVersion}} is now available.
      <a href="https://github.com/SafeMarket/SafeMarket" target="_blank">Download here.</a>
    </div>
    <div ng-show="page==='home'" ng-include="path+'home.html'"></div>
    <div ng-show="page==='settings'" ng-include="path+'settings.html'"></div>
    <div ng-show="page==='marketplace'" ng-include="path+'marketplace.html'"></div>
    <div ng-show="page==='products'" ng-include="path+'products.html'"></div>
    <div ng-show="page==='publish'" ng-include="path+'publish.html'"></div>
    <div ng-show="page==='register'" ng-include="path+'register.html'"></div>
    <div ng-show="page==='vendor'" ng-include="path+'vendor.html'"></div>
    <div ng-show="page==='order'" ng-include="path+'order.html'"></div>
  </div>
</div>
<div growl limit-messages="3"></div>