<div ng-controller="ManifestController" class="container">
  <form ng-submit="submit()">
    <h1>Manifest</h1>
    <div class="alert alert-danger" ng-if="!areSettingsComplete">
      Your settings are not complete
    </div>
    <div class="alert alert-danger" ng-if="!areProductsComplete">
      Your products are not set
    </div>
  </form>
  <table class="table">
    <tr>
      <td>Xpubkey</td><td>{{vendor.data.mk_public}}</td>
    </tr>
    <tr>
      <td>Address</td><td>{{vendor.address}}</td>
    </tr>
    <tr>
      <td>Balance</td><td>{{vendor.balance}}</td>
    </tr>
    <tr>
      <td>Publishing Fee</td><td>{{vendor.publishingFee}}</td>
    </tr>
    <tr ng-if="vendor.shortfall">
      <td>Shortfall</td><td>{{vendor.shortfall}}</td>
    </tr>
  </table>
  <div ng-if="vendor.txHexes">
    <pre class="pre" style="white-space:pre-wrap;">for txHex in {{vendor.txHexes}}: sendrawtransaction(txHex);</pre>
    <a class="btn btn-primary" ng-click="preview()">Preview</a>
    <a class="btn btn-primary" ng-click="vendor.publish()">Publish</a>
  </div>
</div>