<div ng-controller="ManifestController" class="container">
  <form ng-submit="submit()">
    <h1>Manifest</h1>
    <div class="alert alert-danger" ng-if="!areSettingsComplete">
      Your settings are not complete
    </div>
    <div class="alert alert-danger" ng-if="!areProductsComplete">
      Your products are not set
    </div>
  </form>
  <div ng-if="manifest">
    <pre class="pre" style="white-space:pre-wrap;" ng-if="manifest">{{manifest}}</pre>
    <a class="btn btn-primary" ng-click="preview()">Preview</a>
  </div>
</div>