<div ng-controller="MarketplaceController">
	<h1>Marketplace <a class="btn btn-primary" ng-click="sync()">Sync</a></h1>
	<p ng-if="!vendorDatasSyncedAt">Not yet synced</p>
	<p ng-if="vendorDatasSyncedAt">Synced {{vendorDatasSyncedAt | timeAgo}}</p>
	<div ng-if="vendors && vendors.length>0">
	<div class="alert alert-danger text-center">
		Vendors may not be who they claim to be.
	</div>
	<table class="table">
		<tbody ng-repeat="vendor in vendors">
		<tr>
			<td>{{vendor.data.name}}<br>{{vendor.data.info}}</td>
			<td>
				<span ng-repeat="product in vendor.data.products">
					<img style="height:100px" ng-if="product.image_url" ng-src="{{product.image_url}}">
				</span>
			</td>
			<td><a class="btn btn-primary btn-xs" ng-click="loadVendor(vendor.data.xpubkey)">Load Vendor</a></td>
		</tr>
		</tbody>
	</table>
	</div>

</div>