<div ng-controller="OrderController">
	<h1>Order<span ng-if="order">: {{order.data.buyer_name}} -> {{order.data.vendor_name}}</span></h1>
	<table class="table">
	    <tr>
	    	<td>Receipt</td>
	    	<td><input ng-model="receipt" class="form-control"></td>
	    </tr>
	  	<tbody ng-if="order" class="table">
	  		<tr>
		  		<td>When</td>
		  		<td>{{order.data.epoch*1000 | timeAgo}}</td>
	  		</tr>
	  		<tr>
		  		<td>Derivation Path</td>
		  		<td><code>{{order.derivationPath}}</code></td>
	  		</tr>
	  		<tr>
		  		<td>Address</td>
		  		<td><code>{{order.address}}</code></td>
	  		</tr>
	  		<tr>
		  		<td>Status</td>
		  		<td><code>{{order.status}}</code></td>
	  		</tr>
	  		<tr>
		  		<td>Total Requested</td>
		  		<td>{{order.total}}</td>
	  		</tr>
	  		<tr>
		  		<td>Total Received</td>
		  		<td>{{order.received}}</td>
	  		</tr>
	  		<tr>
		  		<td>Current Balance</td>
		  		<td>{{order.balance}}</td>
	  		</tr>
	  		<tr>
		  		<td>Message</td>
		  		<td>{{order.data.message}}</td>
	  		</tr>
	  	</tbody>
	</table>
</div>