<div ng-controller="ProductsController">
  <form name="productsForm" ng-submit="save()" novalidate>
    <h1>Products</h3>
    <table class="table">
      <tbody ng-repeat="product in products">
        <tr>
          <td>
            <input ng-model="product.name" class="form-control" placeholder="Name">
          </td>
          <td>
            <input ng-model="product.price" class="form-control"  placeholder="Price ({{currency}})">
          </td>
          <td>
            <input ng-model="product.image_url" class="form-control"  placeholder="Image URL (optional)">
          </td>
          <td style="text-align:right"><a ng-click="deleteProduct($index)" class="btn btn-danger">X</a></td>
        </tr>
      </tbody>
      <tr>
        <td colspan="3"></td>
        <td style="text-align:right">
          <a ng-click="products.push({})" class="btn btn-success">+</a>
          <button class="btn btn-primary" ng-if="products && products.length>0">Save</button>
        </td>
      </tr>
    </table>
  </form>
</div>