<div ng-controller="RegisterController" class="container">
  <h1>Register <a class="btn btn-primary btn-xs" ng-click="update()">Update</a></h1>
  <p>Registration is an optional way to list your storefront on the marketplace. If you don't want to register, you can just hand out your <code>xpubkey</code> and buyers can access your storefront directly.</p>
  <table class="table" ng-if="vendor && vendor.balance">
    <tr>
      <td>Address</td><td>{{vendor.address}}</td>
    </tr>
    <tr>
      <td>Balance</td><td>
        {{vendor.balance}} BTC,
        {{vendor.balance | convert:'BTC':vendor.data.currency}} {{vendor.data.currency}}
      </td>
    </tr>
    <tr>
      <td>Registration Fee</td><td>
        {{vendor.registrationFee}} BTC,
        {{vendor.registrationFee | convert:'BTC':vendor.data.currency}} {{vendor.data.currency}}
        <p class="text-muted">this goes partially to the Bitcoin network, partially to SafeTrade</p>
      </td>
    </tr>
    <tr ng-if="vendor.registrationShortfall" class="text-danger">
      <td>Shortfall</td><td>
        {{vendor.registrationShortfall}} BTC,
        {{vendor.registrationShortfall | convert:'BTC':vendor.data.currency}} {{vendor.data.currency}}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <a class="btn btn-primary" ng-click="preview()">Preview</a>
      </td>
    </tr>
  </table>
  <div ng-if="vendor.registrationTxs">
    <h3>How to register</h3>
    <p>Open electrum and choose the "console" tab (make sure to connect via Tor if privacy is a concern). Copy and paste the contents below into the console and hit enter.</p>
    <div class="alert alert-info">
      It may take up to 20 minutes for your data to be fully registered on the network. Do not attempt to register multiple times within a 20 minute period.
    </div>
    <pre class="pre" style="white-space:pre-wrap;max-height:200px">for txHex in {{vendor.registrationTxs.reverse()}}: sendrawtransaction(txHex);</pre>
  </div>
</div>