<div ng-controller="SettingsController">
	<h1>Settings</h1>
	<form name="settingsForm" ng-submit="save()" novalidate>
	<table class="table">
		</tr>
		<tr>
			<td>Name</td>
			<td>
				<input type="text" name="name" class="form-control" ng-model="settings.name">
			</td>
		</tr>
		<tr>
			<td>Currency</td>
			<td>
				<select name="currency" ng-model="settings.currency" ng-options="currency for currency in currencies" class="form-control" >
				</select>
			</td>
		</tr>
		<tr>
			<td>Refund/Withdrawl Address</td>
			<td>
				<input type="text" name="address" ng-model="settings.address" class="form-control" >
			</td>
		</tr>
		<tr>
			<td>PGP Public Key</td>
			<td>
				<textarea type="text" name="pgp_public" class="form-control" ng-model="settings.pgp_public"></textarea>
			</td>
		</tr>
		<tr>
			<td>PGP Private Key</td>
			<td>
				<textarea type="text" name="pgp_private" class="form-control" ng-model="settings.pgp_private"></textarea>
			</td>
		</tr>
		<tr>
			<td>PGP Passphrase (Optional)</td>
			<td>
				<input type="text" name="pgp_passphrase" class="form-control" ng-model="settings.pgp_passphrase">
			</td>
		</tr>
		<tr>
			<td colspan="2"><h4>Vendor Settings (Optional)</h4></td>
		</tr>
		<tr>
			<td>Master Private Key (xprv)</td>
			<td>
				<input type="text" name="xprvkey" class="form-control" ng-model="settings.xprvkey">
				<p>If you have Electrum 2.x installed, you can have electrum generate a master private key for you. First, create a wallet seperate from your personal transactions then go to the console tab.</p>
				<ul>
					<li>If your wallet is password protected, run <code>wallet.get_master_private_key('x/', gui.password_dialog())</code></li>
					<li>If your wallet is NOT password protected, run <code>wallet.get_master_private_key('x/', None)</code></li>
				</ul>
				<p>Your master private key should be between quotes, starting with 'xprv'.</p>
			</td>
		</tr>
		<tr>
			<td>Info (where to send receipts, shipping locations, etc)</td>
			<td>
				<textarea type="text" name="contact" class="form-control" ng-model="settings.info"></textarea>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<button class="btn btn-primary">Save</button>
			</td>
		</tr>
	</table>
	</form>
</div>