<div ng-controller="SettingsController">
	<h1>Settings</h1>
	<form name="settingsForm" ng-submit="save()" novalidate>
	<table class="table">
		</tr>
		<tr>
			<td>Name</td>
			<td>
				<input type="text" name="name" class="form-control" ng-model="settings.name">
			</td>
		</tr>
		<tr>
			<td>Currency</td>
			<td>
				<select name="currency" ng-model="settings.currency" ng-options="currency for currency in currencies" class="form-control" >
				</select>
			</td>
		</tr>
		<tr>
			<td>Refund/Withdrawl Address</td>
			<td>
				<input type="text" name="address" ng-model="settings.address" class="form-control" >
			</td>
		</tr>
		<tr>
			<td>PGP Public Key</td>
			<td>
				<textarea type="text" name="pgp_public" class="form-control" ng-model="settings.pgp_public"></textarea>
			</td>
		</tr>
		<tr>
			<td>PGP Private Key</td>
			<td>
				<textarea type="text" name="pgp_private" class="form-control" ng-model="settings.pgp_private"></textarea>
			</td>
		</tr>
		<tr>
			<td>PGP Passphrase (Optional)</td>
			<td>
				<input type="text" name="pgp_passphrase" class="form-control" ng-model="settings.pgp_passphrase">
			</td>
		</tr>
		<tr>
			<td colspan="2"><h4>Vendor Settings (Optional)</h4></td>
		</tr>
		<tr>
			<td>Master Private Key (xprv)</td>
			<td>
				<input type="text" name="xprivkey" class="form-control" ng-model="settings.xprivkey">
				<p>You can generate these in Electrum 2.x. Make sure to use a seperate wallet.</p>
				<p>In the Electrum console run: </p>
				<ul>
					<li><code>wallet.get_master_private_key('x/', gui.password_dialog())</code> if your wallet is password protected</li>
					<li><code>wallet.get_master_private_key('x/', None)</code> if your wallet is not password protected</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Info (where to send receipts, shipping locations, etc)</td>
			<td>
				<textarea type="text" name="contact" class="form-control" ng-model="settings.info"></textarea>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<button class="btn btn-primary">Save</button>
			</td>
		</tr>
	</table>
	</form>
</div>